<div style="background-color: rgb(64, 10, 192)1, 87, 87); padding: 25px">
    <h1>CENTRO CENTRAL DE MENSAJES</h1>
    <input type="text" placeholder="Ingrese su nombre" name="autor">
    <br>
    <hr>
    <br>
    <ul style="margin: 0px; padding: 0px" id="msgList">
    </ul>
    <br>
    <input type="text" placeholder="Ingrese su mensaje" name="mensaje"><button class="btn btn-primary"
        style="margin: 10px" id="submitMsg">Submit</button>
</div>

