<div id="notfound">
		<div class="notfound">
			<div class="notfound-bg">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<h1>oops!</h1>
			<h2>Error: {{this.error}}</h2>
			<br>
			<a href="#" id="back">go back</a>
			<div class="notfound-social">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-twitter"></i></a>
				<a href="#" class="social"><i class="fab fa-gitlab"></i></a>
				<a href="#" class="social"><i class="fab fa-odnoklassniki"></i></a>
			</div>
		</div>
</div>