<form enctype="application/x-www-form-urlencoded" name="myform" method="POST">
    <div class="mb-4">
        <h1>Login de Usuario</h1>
    </div>
    <br>
    <br>
    <div class="mb-4">
        <label class="form-label">Ingrese su nombre.</label>
        <input type="text" class="form-control type_inp" name="login" />
    </div>

</form>
<button class="btn btn-primary" id="submitProd">Submit</button>