<ul style="margin: 0px; padding: 0px">
    {{#each numeros}}
    <div class="row align-items-center" style="background-color:#aaa">
        <div class="col w-25 p-3">
            <h4>Numero: {{@key}}</h4>
        </div>
        <div class="col w-25 p-3">
            <h4>Cant: {{this}}</h4>
        </div>
    </div>
    {{/each}}
</ul>
