

<body>

            <div class="col-10">
                <div class="box_form card-footer" >
                    {{> log_form}}
                    <br>
                    <br>
                </div>
            </div>

<script>
    
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
</script>

</body>

