<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/css/favicon.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
            integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous"
        />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mystyle.css">
    <title>{{titulo}}</title>
</head>
<body>
    {{{ body }}}

    
{{!-- <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"
        integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO"
        crossorigin="anonymous"></script> --}}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

{{!-- <script>
    let socket = io();
    socket.on('coneccion', data => {
        let usuario = alert(data)
        socket.id = usuario
        socket.emit('bienvenida', `Hola, soy ${socket.id}, gracias por recibirme`)
    })

    document.getElementById("submitMsg").addEventListener("click", function (event) {
        let autor = document.querySelector("input[name='autor']");
        let mensaje = document.querySelector("input[name='mensaje']");

        socket.emit("newMsg", {
            "autor": autor.value,
            "mensaje": mensaje.value,
        });
        autor.value = ''
        mensaje.value = ''
    });

    socket.on("recargMsg", function (mensajes) {
        let msgLista = document.getElementById('msgList')
        msgLista.innerHTML = ''
        mensajes.forEach(elem => {
            let cadaMsg = `<div class="row align-items-center" style="background-color:#aaa">
                                        <div class="col w-25 p-3" align="center">
                                            <b style="color:blue">${elem.autor}</b>
                                        </div>
                                        <div class="col w-50 p-3"><i style="color:green">${elem.mensaje}</i></div>
                                    </div>`
            msgLista.innerHTML += cadaMsg
        })
        return
    })
</script> --}}
</body>

</html>